* text=auto !eol
/AUTHORS -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-ces-slk.ces-slk.dix -text
/apertium-ces-slk.ces-slk.t1x -text
/apertium-ces-slk.ces-slk.t2x -text
/apertium-ces-slk.ces-slk.t3x -text
/apertium-ces-slk.ces.acx -text
/apertium-ces-slk.ces.dix -text
/apertium-ces-slk.ces.tsx -text
/apertium-ces-slk.post-ces.dix -text
/apertium-ces-slk.post-slk.dix -text
/apertium-ces-slk.slk-ces.t1x -text
/apertium-ces-slk.slk-ces.t2x -text
/apertium-ces-slk.slk-ces.t3x -text
/apertium-ces-slk.slk.acx -text
/apertium-ces-slk.slk.dix -text
/apertium-ces-slk.slk.tsx -text
/configure.ac -text
/modes.xml -text
